@import usecase.task.ShowCategoryUseCaseDto
@import helper._
@(categories: Seq[ShowCategoryUseCaseDto])(implicit request: MessagesRequestHeader)

<form id="taskForm">
  @CSRF.formField
  <div>
    <label for="title">タイトル:</label>
    <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="body">内容:</label>
    <textarea id="body" name="body"></textarea>
  </div>
  <div>
    <label>カテゴリ:</label>
    @for(category <- categories) {
    <input type="radio" id="categoryId_@category.id" name="categoryRadio" value="@category.id">
    <label for="categoryId_@category.id">@category.name</label>
    }
  </div>
  <button type="button" onclick="sendTaskData()">送信</button>
</form>

<script>
  const csrfToken = '@CSRF.getToken.value';
  console.log(csrfToken)
  function sendTaskData() {
    const title = document.getElementById('title').value;
    const body = document.getElementById('body').value;
    const categoryIdElement = document.querySelector('input[name="categoryRadio"]:checked');
    let categoryId;

    if (categoryIdElement) {
      categoryId = parseInt(categoryIdElement.value);
    } else {
      categoryId = null;
    }

    const jsonData = {
      title: title,
      body: body,
      categoryId: categoryId
    };

    fetch('/task', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Csrf-Token': csrfToken // ここで取得したトークンを設定
      },
      body: JSON.stringify(jsonData)
    })
    .then(response => {
      if (response.ok) {
        return response.json();
      } else {
        return response.json().then(error => {
          throw error;
        });
      }
    })
    .then(newTask => {
      const task = newTask
      const taskList = document.getElementById('task-list');
      console.log(newTask);
      const newListItem = document.createElement('li')
      newListItem.innerHTML = `@Hoge(newTask.title)`
      taskList.appendChild(newListItem);

      document.getElementById('taskForm').reset();
    })
    .catch(error => {
      console.error('Error:', error);
      let key;
      if (error.hasOwnProperty('obj.title')) {
        key = 'obj.title'
      } else if (error.hasOwnProperty('obj.body')) {
        key = 'obj.body'
      } else {
        key = 'obj.categoryId'
      }
      alert('Failed to add. ' + error[key][0].msg[0]);
    });
  }
</script>