@(nullCategoryName: String, nullCategoryColor: String)

<template id="taskItemTemplate">
  <li class="taskItem" value="">
    <div><a class="title" style="width: 800px;"></a>
      <a class="categoryName" style="background-color: @nullCategoryColor; color: white; padding: 2px; border-radius: 5px;">
        @nullCategoryName</a><a class="status"></a>
    </div>
    <div class="body" style="padding-left: 40px;"></div>
    <button class="editButton"  style="margin-bottom: 20px;">編集</button>
    <button class="deleteButton" style="margin-bottom: 20px;">削除</button>
  </li>
</template>

<script>
  function appendChildFromTemplate(id, title, categoryId, categoryName, colorHexCode, stateCode, stateName, body) {
    if ("content" in document.createElement('template')) {
      var template = document.getElementById('taskItemTemplate');
      var clone = template.content.cloneNode(true);
      clone.querySelector('.taskItem').value = id;
      clone.querySelector('.title').textContent = title;
      if (categoryName) {
        clone.querySelector('.categoryName').textContent = categoryName;
      };
      if (colorHexCode) {
        clone.querySelector('.categoryName').style.backgroundColor = colorHexCode;
      };
      clone.querySelector('.status').textContent = stateName;
      clone.querySelector('.body').textContent = body;
      clone.querySelector('.editButton').addEventListener('click',() =>
        showEditForm(id, title, categoryId, stateCode, body)
      );
      clone.querySelector('.deleteButton').addEventListener('click',() =>
        showDeleteModal(id)
      );
      document.getElementById('taskList').appendChild(clone);
    } else {
      console.error('Unsupported Feature: The HTML <template> element is not recognized by your browser.')
      alert('Successfully added to the database, but the webpage failed to update. Please reload.　')
    }
  }
</script>